<!doctype html>
<html th:replace="layouts/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
   <div>
       <div class="container my-5 ">
           <div class="row">
               <div class="col">
                   <div class="card">
                       <table class="table table-striped " >
                           <thead>
                           <tr>
                               <th>Employee Id</th>
                               <th>Name</th>
                               <th>Role</th>
                               <th>Department</th>
                               <th>Phone</th>
                               <th>Email</th>

                           </tr>
                           </thead>

                           <tbody>
                           <div >
                               <tr th:each="emp : ${employee}">

                                   <td ><a class="btn btn-dark " th:href="@{'/employee-show?id=' + ${emp.id}}" th:text="${emp.id}"></a></td>
                                   <td th:text="${emp.name}"></td>
                                   <td th:text="${emp.role}"></td>
                                   <td th:text="${emp.department}"></td>
                                   <td th:text="${emp.phone}"></td>
                                   <td th:text="${emp.email}"></td>
                                   <td><a class="btn btn-success" th:href="@{'/employee-update?id=' + ${emp.id}}">Update</a></td>
                                   <td><a class="btn btn-danger" th:href="@{'/employee-delete?id=' + ${emp.id}}">Delete</a></td>


                               </tr>
                           </div>

                           </tbody>




                       </table>

                   </div>
               </div>
           </div>
       </div>
   </div>

</main>
</body>
</html>